/* Header Section */
#header{
	background-color: white;
	padding-top: 40px;
}

#header h1{
	font-family: Cassannet;
	font-size: 40px;
	color: #555;
	opacity: 0.9;

}

.brief{
	font-family: 'Source Sans Pro';
	font-size: 18px;
	font-style: italic;
	opacity: 0.8;
	color: #555;
	padding: 0 10px;
}

#header .row{
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

#content{
	background-color: white;
}

.slider_wrapper{
	text-align: center;	
	padding-top: 16px;
}

.carousel-tabs { clear: both; }
.carousel-active-tab { color: red; }	
.carousel-disabled,
.mr-rotato-disabled { color: #aaa; }

.slider_wrapper .carousel-tabs {
	padding: 0;
	margin: 1em 0;
	clear: both;
}
.slider_wrapper .carousel-tabs li {
    display: inline-block; 
    padding: 0 2px;
}
.slider_wrapper .carousel-tabs a {
    background: #ddd;
    display: inline-block;
    height: 10px;
    text-indent: -9999px;
    width: 10px;
    border-radius: 5px;
}
.ie .slider_wrapper .carousel-tabs li,
.ie .slider_wrapper .carousel-tabs a { 
	display: block;
	float: left;
}
.slider_wrapper .carousel-tabs .carousel-active-tab a {
	background: #c969e0;
}

.description{
	padding-top: 16px;
}

.description p{
	font-size: 18px;
	line-height: 24px;
	font-family: 'Source Sans Pro';
	opacity: 0.8;
	color: #333;
	margin-bottom: 18px;
}

.description a{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: #8c17a9;
	cursor: pointer;
	-webkit-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}

.description a:hover{
	color: #c969e0;
}

.italic{
	font-style: italic;
}

.with_border{
	border: 1px solid #ccc;
}

.no_top_padding{
	padding-top: 0;
}

.back_wrapper{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 80px;
}

a.back{
	font-family: 'Source Sans Pro', sans-serif;
	color: #8c17a9;
	font-style: italic;
	cursor: pointer;
	font-weight: 600;
	font-size: 18px;
	-webkit-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}

a.back:hover{
	color: #c969e0;
}
